<a href="https://colab.research.google.com/github/da-matsumoto/machine/blob/practice/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
january_average_temperature = 6
february_average_temperature = 7
print("各月の平均気温は、1月は{}度、2月は{}度です。".format(january_average_temperature,february_average_temperature))

各月の平均気温は、1月は6度、2月は7度です。

In [10]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print(monthly_average_temperatures)
print(type(monthly_average_temperatures))
print("各月の平均気温は、1月は{}度、2月は{}度です。".format(monthly_average_temperatures[0], monthly_average_temperatures[1]))
print("各月の平均気温は、12月は{}度です。".format(monthly_average_temperatures[-1]))
print(type(monthly_average_temperatures[-1]))
monthly_average_temperatures[0] = 100
print(monthly_average_temperatures[0])
print(monthly_average_temperatures[3:8])
print(monthly_average_temperatures[0:7:2])
print(len(monthly_average_temperatures))

[6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
<class 'list'>
各月の平均気温は、1月は6度、2月は7度です。
各月の平均気温は、12月は7度です。
<class 'int'>
100
[15, 20, 22, 27, 26]
[100, 9, 20, 27]
12

In [11]:
numbers = [0, 1, 2, 3]
numbers.append(4)
print(numbers)

[0, 1, 2, 3, 4]

In [12]:
texts = []
texts.append("alpha")
texts.append("beta")
print(texts)

['alpha', 'beta']

In [15]:
user_ids = ("A081", "A114", "A186")
print(user_ids)
print(type(user_ids))
print(user_ids[0])

s, t = 100, 200
print(s)

('A081', 'A114', 'A186')
<class 'tuple'>
A081
100