<a href="https://colab.research.google.com/github/da-matsumoto/machine/blob/practice/repeat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for number in numbers:
  print(number)

0
1
2
3
4
5
6
7
8
9

In [3]:
user_ids = ("A081", "A114", "A186")
for user_id in user_ids:
  print(user_id)

A081
A114
A186

In [7]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
print(range(10))
print(list(range(10)))
for i in range(9, -1, -1):
  print(i)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
8
7
6
5
4
3
2
1
0

In [18]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i in range(len(monthly_average_temperatures)):
  print("{}月の平均気温は{}度です".format(i+1, monthly_average_temperatures[i]))

1月の平均気温は6度です
2月の平均気温は7度です
3月の平均気温は9度です
4月の平均気温は15度です
5月の平均気温は20度です
6月の平均気温は22度です
7月の平均気温は27度です
8月の平均気温は26度です
9月の平均気温は23度です
10月の平均気温は17度です
11月の平均気温は12度です
12月の平均気温は7度です

In [19]:
MONTH_NUMBERS = list(range(1, 13))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for month_number, temperature in zip(MONTH_NUMBERS, monthly_average_temperatures):
  print("{}月の平均気温は{}度です。".format(month_number, temperature))

1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
7月の平均気温は27度です。
8月の平均気温は26度です。
9月の平均気温は23度です。
10月の平均気温は17度です。
11月の平均気温は12度です。
12月の平均気温は7度です。

In [20]:
num = 0
while num < 10:
  print(num)
  num += 3

0
3
6
9